{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'todolist:index' %}">ホーム</a>
      </div>
      <form
        method="post"
        action="{% url 'todolist:select_day' %}"
        class="d-flex align-items-center"
      >
        {% csrf_token %} {{ indexform.day }}
        <button
          type="submit"
          class="btn btn-primary mx-5 ms-2"
          style="width: 80px"
        >
          検索
        </button>
      </form>
      <form
        class="d-flex"
        role="search"
        method="post"
        action="{% url 'todolist:create' date=day %}"
      >
        {% csrf_token %}
        <input
          class="form-control me-2"
          name="assignments"
          type="text"
          placeholder="タスクを入れてください"
          aria-label="text"
          style="width: 200px"
        />
        <button class="btn btn-outline-success mx-2" type="submit">送信</button>
      </form>
    </nav>
    {% if form.errors %}
    <div class="alert alert-danger error-container">
      {% for key, errors in form.errors.items %} {% for error in errors %} {{
      error }} {% endfor %} {% endfor %} {% endif%}
    </div>
    <h1 class="ms-3">{{title}}</h1>
    <div>
      <ul class="list-group">
        {% for tasks in contents %}
        <form method="post" action="{% url 'todolist:detail' date=day%}">
          {%if tasks.is_done%}
          <li
            class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center"
          >
            {% csrf_token %}
            <input type="hidden" name="task_id" value="{{ tasks.id }}" />
            <input
              class="form-check-input me-1"
              type="checkbox"
              name="is_done_{{ tasks.id }}"
              {%
              if
              tasks.is_done
              %}checked{%
              endif
              %}
            />
            <h5 class="mb-0 text-center flex-grow-1">
              {{ tasks.assignments }}
            </h5>
            <div class="ms-auto d-flex">
              <button type="submit" class="btn btn-primary">できた</button>
              <button
                type="button"
                class="btn btn-danger mx-2"
                data-bs-toggle="modal"
                data-bs-target="#DeleteModal"
                data-task-id="{{ tasks.id }}"
                data-task-name="{{ tasks.assignments }}"
              >
                削除
              </button>
            </div>
            {% else %}
          </li>

          <li
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            {% csrf_token %}
            <input type="hidden" name="task_id" value="{{ tasks.id }}" />
            <input
              class="form-check-input me-1"
              type="checkbox"
              name="is_done_{{ tasks.id }}"
              {%
              if
              tasks.is_done
              %}checked{%
              endif
              %}
            />
            <h5 class="mb-0 text-center flex-grow-1">{{tasks.assignments}}</h5>
            <div class="ms-auto d-flex">
              <button type="submit" class="btn btn-primary">できた</button>
              <button
                type="button"
                class="btn btn-danger mx-2"
                data-bs-toggle="modal"
                data-bs-target="#DeleteModal"
                data-task-id="{{ tasks.id }}"
                data-task-name="{{ tasks.assignments }}"
              >
                削除
              </button>
            </div>
            {% endif %}
          </li>
        </form>

        {% endfor %}
      </ul>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="DeleteModal"
      tabindex="-1"
      aria-labelledby="DeleteModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="DeleteModalLabel">
              タスク削除確認
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p id="deleteTaskMessage">本当に削除しますか？</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              キャンセル
            </button>
            <form method="post" action="{% url 'todolist:delete' date=day %}">
              {% csrf_token %}
              <input type="hidden" name="task_id" id="deleteTaskId" />
              <button type="submit" class="btn btn-danger">削除</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var deleteModal = document.getElementById("DeleteModal");
        deleteModal.addEventListener("show.bs.modal", function (event) {
          var button = event.relatedTarget;
          var taskId = button.getAttribute("data-task-id");
          var taskName = button.getAttribute("data-task-name");
          var modalBody = deleteModal.querySelector("#deleteTaskMessage");
          modalBody.textContent = "タスク「" + taskName + "」を削除しますか？";
          var taskIdInput = deleteModal.querySelector("#deleteTaskId");
          taskIdInput.value = taskId;
        });
      });
    </script>

    <nav aria-label="Page navigation example">
      {% if contents %}
      <ul class="pagination d-flex justify-content-center my-4 me-5">
        {% if contents.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{% url 'todolist:detail' date=day %}"
            >&laquo; first</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="{% url 'todolist:detail' date=day %}/{{contents.previous_page_number}}"
            >&laquo; prev</a
          >
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link">&laquo; first</a>
        </li>
        <li class="page-item">
          <a class="page-link">&laquo; prev</a>
        </li>
        {% endif %} {% if contents.has_next %}
        <li class="page-item">
          <a
            class="page-link"
            href="{% url 'todolist:detail' date=day %}/{{contents.next_page_number}}"
            >&raquo; next</a
          >
        </li>
        <li class="page-item">
          <a
            class="page-link"
            href="{% url 'todolist:detail' date=day %}/{{contents.paginator.num_pages}}"
            >&raquo; last</a
          >
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link">&raquo; next</a>
        </li>
        <li class="page-item">
          <a class="page-link">&raquo; last</a>
        </li>
        {% endif %} {% endif %}
      </ul>
    </nav>

    <div class="d-flex justify-content-center me-5 my-4">
      <a
        href="{% url 'todolist:detail' date=preday %}"
        class="btn btn-outline-primary mx-2"
        >前の日</a
      >
      <a
        href="{% url 'todolist:detail' date=nextday %}"
        class="btn btn-outline-primary mx-2"
        >次の日</a
      >
    </div>
  </body>
</html>